

.grid-container {
  display: grid;
  grid-template-areas:
    'lateral centro'
    'lateral centro';
  gap: 10px;
  background-color: rgba(30, 25, 58, 0.5);
  padding: 10px;
    }

.grid-container > div {
    background-color: rgba(32, 30, 30, 0.4);
    text-align: center;
    

    }
   
 body { 
    color: rgb(168, 168, 168);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    font-size: 17px;
    text-align: left;
    background: linear-gradient(90deg, rgb(33, 33, 51) 0%, rgb(90, 93, 126) 35%, rgb(56, 78, 129) 90%); 
    }


h1{
    color: rgba(251, 252, 255, 0.7);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    font-size: 22px;
    font-weight:bold;
    text-align: center;
    border: solid 5px rgba(111, 130, 175, 0.6);
    background: linear-gradient(90deg, rgb(33, 33, 51) 0%, rgb(90, 93, 126) 35%, rgb(56, 78, 129) 90%); 
    }

h2, h3 {
    color: rgb(255, 241, 241, 0.7);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    font-size: 20px;
    font-weight:bold;
    text-align: center;
    border: solid 5px rgba(155, 154, 150, 0.6);
    background: linear-gradient(90deg, rgb(33, 33, 51) 0%, rgb(90, 93, 126) 35%, rgb(56, 78, 129) 90%); 
    }
    
 p {color:rgb(213, 216, 226); 
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    border:1px;
     border-color:rgba(128, 128, 177, 0.5);
    border-style:solid;
    background: linear-gradient(90deg, rgb(33, 33, 51) 0%, rgb(90, 93, 126) 35%, rgb(56, 78, 129) 90%); 
    }

 ol, tr { color:rgb(131, 139, 165); 
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    text-align:left;
    letter-spacing:2px;
    border: 1px;
    border-color:rgb(71, 71, 97);
    border-style:solid;
    background:  rgb(16, 16, 20, 0.3); 
        }

img { 
    filter: drop-shadow(0 0 8px rgb(4, 4, 7));}

b {filter: drop-shadow(0 0 15px rgb(0, 0, 0))}


